<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <script>
        function ab(){
            window.location="../index.html"
        }
    </script>
</head>
<body>
    <!-- nav part from common  -->
    <div id="hero">
        <div class="hero_cont">
            <div class="hero_img">
                <img src="../static/img/H-D_V-Rod/Harley-Davidson-V-Rod-Hot-Rod-Titanium-03.jpg" alt="bike image">
            </div>
        </div>
        <div class="hero_cont">
            <div class="hero_ele">
                <h1 class="h_primary center">Harley Davidson V Rod</h1>
            </div>
            <div class="hero_ele">
                <p>&#8377; 21,92,000<sup>*</sup></p>
            </div>
        </div>

    </div>
    
    
</body>
</html>