<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/CSS/v_rod_geo.css">
    <script src="../static/js/comm_move.js" defer></script>

    <title>Demo</title>
    <script lang="javascript">
        function ab() {
            window.location = "../index.html"
        }
    </script>
</head>

<body>
    <!-- nav part from common  -->
    <div id="main">
        <div class="left_part">

        </div>

        <div class="mid_part">
            <div id="hero">
                <div class="hero_cont">
                    <section aria-label="Newest Photos">
                        <div class="carousel" data-carousel>
                            <button class="carousel-button prev" data-carousel-button="prev">
                                &#8656
                            </button>
                            <button class="carousel-button next" data-carousel-button="next">
                                &#8658
                            </button>

                            <ul data-slides>
                                <li class="slide" data-active>
                                    <img src="../static/img/H-D_V-Rod/Harley-Davidson-V-Rod-Hot-Rod-Titanium-01.jpg"
                                        alt="Super bike">
                                </li>
                                <li class="slide">
                                    <img src="../static/img/H-D_V-Rod/Harley-Davidson-V-Rod-Hot-Rod-Titanium-02.jpg"
                                        alt="Super bike">
                                </li>
                                <li class="slide">
                                    <img src="../static/img/H-D_V-Rod/Harley-Davidson-V-Rod-Hot-Rod-Titanium-03.jpg"
                                        alt="Super bike">
                                </li>
                                <li class="slide">
                                    <img src="../static/img/H-D_V-Rod/Harley-Davidson-V-Rod-Hot-Rod-Titanium-04.jpg"
                                        alt="Super bike">
                                </li>
                                <li class="slide">
                                    <img src="../static/img/H-D_V-Rod/Harley-Davidson-V-Rod-Hot-Rod-Titanium-09.jpg"
                                        alt="Super bike">
                                </li>
                            </ul>
                        </div>
                    </section>

                </div>

                <div class="hero_cont">
                    <div class="hero_ele">
                        <h1 class="h_primary center">Harley Davidson V Rod</h1>
                    </div>

                    <div class="hero_ele">
                        <p>&#8377; 21,92,000<sup>*</sup></p>
                    </div>
                    <div class="hero_ele">
                        <p>EMI starts from Rs. 50,174/-</p>
                    </div>
                    <div class="hero_ele">
                        <p><strong>Variant: </strong> BS6</p>
                    </div>
                    <div class="hero_ele">
                        <div style="border: 1px solid black ; width: 500px; height:200px ;"><p>Harley Davidson Fat Bob is powered by 1868 cc engine.This Fat Bob engine generates a torque of 155 Nm @ 3500 rpm. Harley Davidson Fat Bob gets Disc brakes in the front and rear. The kerb weight of Fat Bob is 306 Kg. Harley Davidson Fat Bob has Tubeless Tyre and Alloy Wheels.</p>
                        </div>
                        
                    </div>
                    
                </div>
            </div>


            <!-- Specification  -->
            <div id="spe">
                <h1 class="h_primary">Harley Davidson V ROD Specifications</h1>
                <div class="spe_ele">
                    <div class="spe_ele_1">
                        <table>
                            <tr class="lefttd" >
                                <td class="left-con">
                                    <pre>Mileage</pre>
                                </td>
                                <td class="right">
                                    <pre>18 kmpl</pre>
                                </td>
                            </tr>
                            <tr class="righttd">
                                <td class="left-con">
                                    <pre>Engine Type</pre>
                                </td>
                                <td class="right">
                                    <pre>Liquid-Cooled,<br> Revolution,<br> 60 Degree V-Twin</pre>
                                </td>
                            </tr>
                            <tr class="lefttd">
                                <td class="left-con">
                                    <pre>Max Power</pre>
                                </td>
                                <td class="right">
                                    <pre>115 bhp @ 9000 rpm</pre>
                                </td>
                            </tr>
                            <tr class="righttd">
                                <td class="left-con">
                                    <pre>Font Brake</pre>
                                </td>
                                <td class="right">
                                    <pre>Disc</pre>
                                </td>
                            </tr>
                            <tr class="lefttd">
                                <td class="left-con">
                                    <pre>Fuel Capacity</pre>
                                </td>
                                <td class="right">
                                    <pre>18.9 Lts</pre>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="spe_ele_1 right_part">
                        <table>
                            <tr>
                                <td>
                                    <pre>Displacement</pre>
                                </td>
                                <td class="right">
                                    <pre>1247 cc</pre>
                                </td>
                            </tr>
                            <tr>
                                <td class="left-con">
                                    <pre>No. of Cylinders</pre>
                                </td>
                                <td class="right">
                                    <pre>2</pre>
                                </td>
                            </tr>
                            <tr>
                                <td class="left-con">
                                    <pre>Max Torque</pre>
                                </td>
                                <td class="right">
                                    <pre>111 Nm @ 7250 rpm</pre>
                                </td>
                            </tr>
                            <tr>
                                <td class="left-con">
                                    <pre>Rear Brake</pre>
                                </td>
                                <td class="right">
                                    <pre>Disc</pre>
                                </td>
                            </tr>
                            <tr>
                                <td class="left-con">
                                    <pre>Body Type</pre>
                                </td>
                                <td class="right">
                                    <pre>Cruiser Bikes</pre>
                                </td>
                            </tr>
                        </table>
                    </div> 
                </div>

            </div>

            <!-- Features -->
            <div class="fet">

            </div>
        </div>

        <div class="right_part">

        </div>
    </div>
</body>

</html>